/*Global styles
-------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  width: 1440px;
  margin: 3.5% auto;
  top: 50%;
  left: 20%;
  right: 20%;
}
body {
  background-color: hsl(0, 0%, 98%);
}
/*Intro styles
-------------------------------------------*/
.intro {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-h1 {
  font-weight: 100;
  margin-bottom: 0;
}
.second-h1 {
  margin: 0 auto;
  font-weight: 600;
}
p {
  font-weight: 200;
}
/*Card styles
-------------------------------------------*/

.container {
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
}
.card1,
.card2,
.card3,
.card4 {
  font-weight: 200;
  background-color: white;
box-shadow: hsl(234, 12%, 34%);

}
.card1 {
  border-top: 2px solid hsl(180, 62%, 55%);
  
  
}
.card2 {
  border-top: 2px solid hsl(0, 78%, 62%);
}
.card3 {
  border-top: 2px solid hsl(34, 97%, 64%);
}
.card4{
  border-top: 2px solid hsl(212, 86%, 64%);
}

/*Footer styles
-------------------------------------------*/
