/*Global styles
-------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  width: 100vw;
  margin: 3.5% auto;
  top: 50%;
  left: 20%;
  right: 20%;
}
body {
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
}
/*Intro styles
-------------------------------------------*/
.intro {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(234, 12%, 34%);
}
.first-h1 {
  font-weight: 100;
  margin-bottom: 0;
  color: hsl(234, 12%, 34%);
}
.second-h1 {
  margin: 0 auto;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}
p {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
}
/*Card styles
-------------------------------------------*/

.container {
  display: flex;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  margin-left: 12.5%;
  width: 80%;
}

.icons {
  float: right;
  margin-top: 30px;
}

.card1,
.card2,
.card3,
.card4 {
  text-align: left;
  font-weight: 200;
  background-color: white;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
}

.container1 {
  flex-direction: row;
  width: 100%;
  margin-right: 18px;
}

.container2 {
  flex-direction: column;
  width: 100%;
}

.container3 {
  flex-direction: row;
  margin-left: 18px;
  margin-right: 50px;
  width: 100%;
}

.card1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.card2 {
  border-top: 4px solid hsl(0, 78%, 62%);
  margin-bottom: 9px;
}
.card3 {
  border-top: 4px solid hsl(34, 97%, 64%);
  margin-top: 9px;
}
.card4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

/*Footer styles
-------------------------------------------*/
.attribution {
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
/*Responsive styles
-------------------------------------------*/
@media screen and (max-width: 750px) {
  .container {
    display: block;
  }

  .container3 {
    margin-left: 0px;
  }
  .card1 {
    margin-bottom: 25px;
  }
  .card2 {
    margin-bottom: 25px;
  }
  .card3 {
    margin-bottom: 25px;
  }
  .card4 {
    margin-bottom: 25px;
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14%;
    width: 80%;
    text-align: center;
  }
}
