/*Global styles
-------------------------------------------*/
html {
  background-image: url("./images/kelly-sikkema-tk9RQCq5eQo-unsplash.jpg");
  background-size: cover;
  background-position: 90%;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
canvas {
  background-position: center;
  background-size: cover;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
}
header {
  border-radius: 2px;
  margin: 0 auto;
  border-bottom:  ridge rgba(255, 255, 255, 0.664);
}

/*Link styles
-------------------------------------------*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
}
.nav-link {
  padding: 10px;
  color: white;
  font-family: 'Patrick Hand SC', cursive;
  font-size: 30px;
  
}

a {
  text-decoration: none;
  font-weight: bold;
}
.nav-link:hover {
  color: cyan;
  transform: scale(1.5);
}
/*Body styles
-------------------------------------------*/
.wrapper{
  margin-left: 20%;
  margin-right: 10%;
}
 
p {
  font-family: 'Lato', sans-serif;
  color: rgba(255, 255, 255, 0.822);
}
/* h4{
  color: ; */

p {
  font-weight: 300;
  line-height: 2em;
}
span {
  color: rgb(6, 6, 133);
  font-size: 12px;
}

/* Challenge styles
------------------------------------------- */
.challenges-list {
  display: flex;
  flex-direction: row;
  padding-top: 50px;

  /* justify-content: space-between; */
}

.challenge1,
.challenge2, .challenge3 {
  font-family: 'Patrick Hand SC', cursive;
  border-radius: 12px;
  width: 200px;
  background-color: rgba(255, 241, 159, 0.822);
  text-align: center;
  padding: 30px;
}
.challenge2, .challenge3{
   margin-left: 4%;
}

.challenges-list a:hover {
  color: rgb(247, 3, 3);
  
}
.challenge1 a,
.challenge2 a, .challenge3 a {
  color: black;
  
}

/* Responsive styles
------------------------------------------- */
@media screen and (max-width: 715px) {
  .challenges,
  p {
    display: inline;
  }
}

@media screen and (max-width: 550px) {
  .challenges-list {
    display: flex;
    flex-direction: column;
  }
}

/* Heading styles
------------------------------------------- */

h1 {
  color: white;
  border-radius: 50%;
  font-size: 70px;
  margin: 10px;
 font-family: 'Patrick Hand SC', cursive;
  text-align: center;
}

h2{
   text-align: center;
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   color: rgba(255, 255, 255, 0.87);
   font-family: 'Patrick Hand SC', cursive;
}
.challenges {
  color: rgb(255, 255, 255);
  font-size: 50px;
 font-family: 'Patrick Hand SC', cursive;
  text-align: center;
}

.fa-thumbtack{
  color: black;
}