/*Global styles
-------------------------------------------*/
html {
  background-image: linear-gradient(
    to right,
    hsl(177, 90%, 61%),
    hsl(341, 84%, 83%)
  );
  /* background-repeat: no-repeat; */
  box-sizing: border-box;
}

main {
  width: 100vw;
  /* margin: 0 auto; */
}

/*Link styles
-------------------------------------------*/
nav {
  display: flex;
  justify-content: flex-end;
  align-items: space-between;
  border-bottom: 1px solid white;
}
.nav-link {
  padding: 10px;
  color: white;
  font-family: "Euphoria Script", cursive;
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}
.nav-link:hover {
  color: rgb(7, 5, 119);
  transform: scale(1.5);
}
/*Body styles
-------------------------------------------*/
.challenges {
  color: rgb(228, 8, 81);
  font-size: 50px;
  font-family: "Euphoria Script", cursive;
}

h1 {
  color: rgb(228, 8, 81);
  font-size: 70px;
  margin: 10px;
  font-family: "Euphoria Script", cursive;
}
h2,
p {
 font-family: 'Inconsolata', monospace;
  color: rgb(6, 6, 133);
}
p {
  font-weight: 900;
}
span {
  color: rgb(6, 6, 133);
  font-size: 12px;
}

/* Challenge styles
------------------------------------------- */
.challenges-list {
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 1rem;
  align-content: center;
}
.challenge-1,
.challenge-2 {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 5px 5px rgb(124, 3, 116);
  font-family: 'Inconsolata', monospace;
  color: rgb(2, 2, 71);
  font-weight: 900;
}
.challenges-list a:hover {
  color: rgb(228, 8, 81);
}
/* Responsive styles
------------------------------------------- */
@media screen and (max-width: 715px) {
  .challenges,
  p {
    display: inline;
  }
}

@media screen and (max-width: 550px) {
.challenges-list {
  display:flex;
  flex-direction: column;
  margin: 50px;
}
}