/*Global styles
-------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color:    hsl(210, 46%, 95%);
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
  color: hsl(217, 19%, 35%);
  font-size: 13px;
}

/*Body styles
-------------------------------------------*/
.content{
    display: flex;
    margin: 20px;
    margin-left: 18%;
    margin-right: 20%;
    margin-top: 15%;
    font-weight: 500px;
    overflow: hidden;
    /* border: solid black; */
    height: 500px;
    height: 90%;
}
.User{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-top: 25px;
    padding-bottom: 5px;
   
}

.information{
    display: block;
    background-color: white;
    padding: 8px;
    z-index: 100;
    /* border: SOLID greenyellow; */
}
.Description{
    color:hsl(212, 23%, 69%);
    padding-left: 8%;
    padding-right: 5%;
    /* padding-top: 8px; */
}
.user-name{
     margin-left: 20px;
     margin-right: 40%
}
.date{
    color:hsl(212, 23%, 69%);
}
H2{
    padding-left: 8%;
    padding-right: 10%;
    padding-top: 12px;
}
h4{
     margin-top: 0;
     margin-bottom: 0;
     color:hsl(217, 19%, 35%)
}
/*Images styles
-------------------------------------------*/
.drawers-image{
    width: 350px;
    height: 100%;
    margin-right: -60px;
    filter: brightness(120%);
}

.avatar{
     display: flex;
    align-self: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
}
.share{
   background-color:hsl(210, 46%, 95%);
   width:35px;
   height: 35px;
   align-self: center;
   padding: 10px;
   border-radius: 50px;
}
footer{
   position: relative;
    bottom: -170px
}